.banner {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: 80% bottom;
  background-size: 55%;
}

#bottomBanner {
  background-image: url(../images/home_bottom.png);
}

#home {
  background-image: url("../images/home.png");
}

#images {
  padding-bottom: 138px;
}

#loginLinkButton {
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  padding: 11.5px 23px;
}

.banner .pill-button {
  margin-top: 32px;
}

.image {
  padding: 138px 0;
  display: flex;
  align-items: center;
  gap: 5%;
}

.image:nth-child(2) {
  text-align: right;
}

.image-content {
  flex: 1;
}

.image-tag {
  color: #3692ff;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 12px;
}

.image-description {
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.08em;
  margin-top: 24px;
}
