.auth-wrap {
  padding: 24px 16px;
  max-width: 432px;
  margin: 0 auto;
}

.logo-link {
  display: block;
  margin-bottom: 24px;
  text-align: center;
}

.logo-link img {
  width: 198px;
}

.input-item {
  margin-bottom: 24px;
}

.input-item label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px;
}

.input-item input {
  padding: 16px 24px;
  background-color: #f3f4f6;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  width: 100%;
}

.input-item input::placeholder {
  color: #9ca3af;
}

.input-item input:focus {
  outline-color: var(--blue);
}

.input-wrap {
  position: relative;
}

.err-msg {
  color: #f74747;
  font-weight: 600;
  font-size: 15px;
  margin-top: 8px;
  display: none;
}

.pw-toggle-btn {
  position: absolute;
  right: 24px;
}

.social-wrap {
  background-color: #e6f2ff;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 16px 23px;
  margin: 24px 0;
}

.social-links {
  display: flex;
  gap: 16px;
}

.auth-switch {
  font-weight: 500;
  text-align: center;
}

.auth-switch a {
  color: #3182f6;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .auth-wrap {
    max-width: 640px;
    padding: 48px 0;
  }

  .logo-link {
    margin-bottom: 40px;
  }

  .logo-link img {
    width: 396px;
  }

  .input-item label {
    font-size: 18px;
    margin-bottom: 16px;
  }
}

@media (min-width: 1280px) {
  .auth-wrap {
    padding: 60px 0;
  }
}
